@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #555;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333333;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(
    135deg,
    hsla(0, 0%, 100%, 1) 0%,
    hsla(204, 17%, 83%, 1) 100%
  );
}

.app {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  color: #555;
}

.navbar {
  font-size: 25px;
  width: 100%;
}

.me-auto {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-right: 10px;
}

.item {
  margin: 10px;
  padding: 10px 20px;
  border-radius: 10px;
  color: #555;
}

.item:hover {
  background-color: rgb(127, 134, 141);
  color: aliceblue;
  transition: 0.5s;
}

.contenedor-inicio {
  display: flex;
  height: 200px;
  align-items: center;
  padding-bottom: 20px;
  color: #555;
}

.logo-inicio {
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    135deg,
    rgb(235, 232, 232) 0%,
    rgb(203, 212, 218) 100%
  );
  border-radius: 10px;
}

img {
  width: 100%;
  max-width: 500px;
}

.texto-inicio {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-size: 20px;
}

.proyecto-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.proyecto-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  width: 350px;
  margin: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  &:hover {
    transform: scale(1.05);
  }
}

.proyecto-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  padding: 5px;
  border-radius: 8px;
}

.proyecto-title {
  font-size: 2rem;
  padding: 8px;
}

.proyecto-description {
  font-size: 1rem;
  margin-bottom: 10px;
  padding: 0px 5px;
}

.proyecto-link {
  width: 95%;
  border-radius: 8px;
  margin: 3px;
  background-color: rgb(64, 129, 187);
  color: #fff;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: #0056b3;
  }
}

.titulos {
  text-align: center;
  margin-bottom: 20px;
  color: #555;
}

.banderitas {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
}

.banderitas img {
  width: 30px;
  height: 20px;
}

.banderitas img:hover {
  cursor: pointer;
}

.tecnologias {
  display: flex;
  flex-wrap: wrap;
}

.logotecnologia {
  transition: transform 0.3s ease-in-out;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logotecnologia img {
  height: 140px;
  width: auto;
}

.logotecnologia:hover {
  transform: scale(1.1);
}

.tecnologiatexto {
  margin: 10px;
  text-align: center;
}

.contenedor {
  border-top: #929292 solid 2px;
  padding: 10px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.field {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.field label {
  display: block;
  font-size: 20px;
}

.field input {
  display: block;
  min-width: 250px;
  line-height: 1.5;
  font-size: 16px;
}

input[type="submit"] {
  display: flex;
  width: 100%;
  border-radius: 8px;
  margin: 3px;
  background-color: rgb(64, 129, 187);
  color: #fff;
  margin: 5px 0px;
  border-radius: 5px;
  justify-content: center;
  border: none;
}

.logocontacto {
  width: 100px;
}

.contenedor-contacto {
  display: flex;
  width: 100%;
}

.formulario {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.githublinkedin {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.redes {
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.a {
  text-decoration: none;
}

.contactate {
  color: #555;
}

.redes:hover {
  transform: scale(1.1);
  cursor: pointer;
}
